* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden ;
}


h1 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 900;
    color: white;
}

p {
    font-family: 'Oxygen', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 500;
    line-height: 30px;
}

#nav-toggle {
    position: absolute;
    top: -150px;
}

nav .icon-burger {
    display: none;
}

nav .icon-burger img {
    width: 60px;
}

header .logo {
    color: #eeeeee;
    text-decoration: none;
    font-size: 4rem;
    font-family: 'Oxygen', sans-serif;
}

header nav span {
    background: -webkit-radial-gradient(#e68938, #6d74c2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.menu li {
    list-style: none;
    display: flex;
    align-items: center;
}

.main-btn {
    background: #ff5e00;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.582);
    font-family: 'Oxygen', sans-serif;
    padding: 1.3rem 2.3rem;
    color: #ffffff;
    border-radius: 30px;
    font-size: calc(0.6rem + 0.6vw);
    text-decoration: none;
    border: none;
    margin-top: 2rem;
}

.main-btn:hover {
    cursor: pointer;
    background: #ee8105;
    position: relative;
    bottom: 0.2rem;
}

.dark-btn {
    background: rgba(34, 40, 48, 0.603);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.582);
    font-family: 'Oxygen', sans-serif;
    color: #f6905f;
    border-radius: 30px;
    font-size: calc(1rem + 0.53vw);
    text-decoration: none;
    border: none;
    padding: 1.2rem 2.5rem;
    margin-bottom: 1rem;
}


.dark-btn:hover {
    cursor: pointer;
    background: rgba(192, 106, 0, 0.075);
    position: relative;
    bottom: 0.3rem;
}

.light-btn {
    padding: 0.65vw 0.5vw;
    background: transparent;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: calc(1rem + 0.6vw);
    cursor: pointer;
    margin-right: 2rem;
}

.light-btn:hover {
    border-bottom: 2px solid rgb(241, 119, 62);
    border-radius: 0;
}

.main-page {
    background: #312f49;
    background: radial-gradient(ellipse at center, #4d4a72e3, #272730);
    background-position: center;
    background-attachment: fixed;
    height: 77rem;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    font-family: 'Oxygen', sans-serif;
}

.glass {
    padding: 3rem 4rem;
    height: 70rem;
    width: 88%;
    background: rgba(22, 29, 36, 0.527);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    margin: auto;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(71, 71, 71, 0.2);
    border-radius: 30px;
}

nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1 1 40rem;
}

.menu ul {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 40rem;
    align-items: center;
}


/* DISCOVER.css */

h1 {
    font-size: calc(1rem + 2.1vw);
}

p {
    font-size: 1.75rem;
    margin: 1rem 0 0;
}

.features {
    display: flex;
    flex-direction: column;
}

.image {
    width: calc(3rem + 1vw);
}


.notification {
    display: flex;
}

.content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5rem;
    position: relative;
    height: min-content;
    top: 5rem;
    width: 60%;
}

.features {
    height:60.5rem;
}

.features .click {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 10rem;
}

.content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
    position: relative;
    top: 11rem;
    height: min-content;
    width: 50%;
}

.content2 p {
    width: 100%;
}

.img2 {
    align-items: flex-end;
    position: relative;
    width: calc(26rem + 10vw);
}

.img1 {
    position: relative;
    width: calc(20rem + 10vw);
}

@media screen and (max-width: 1400px) {
    .img2 {
        top: 3rem;
    }
}

@media screen and (max-width: 1210px) {
    .img2 {
        top: 5rem;
    }
}

@media screen and (max-width: 1120px) {
    .content2 {
        top: 16rem;
    }
    .img2 {
        top: 7.5rem;
    }
}

@media screen and (max-width: 1000px) {
    .img2 {
        top: 10rem;
    }
    p {
        font-size: 1.8rem;
        line-height: 1.25;
    }
    .content2 {
        top: 19rem;
    }
}


@media screen and (max-width: 860px) {
    
    .main-page {
        height: 155rem;
    }
    .glass {
        height: 146rem;
        margin: 0 auto;
    }
    .notification {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .img1 {
        width: calc(30rem + 10vw);
    }
    .content1 {
        top: 1rem;
        width: 100%;
        margin: 1.5rem auto 0;
        z-index: 1;
    }

    h1 {
        font-size: calc(3.5rem + 2vw);
    }
    p {
        font-size: calc(1.3rem + 1vw);
        width: 95%;
        margin: 1.2rem auto 1rem;
    }
    .main-btn {
        font-size: calc(0.4rem + 1.6rem);
    }
    .dark-btn {
        font-size: calc(1.3rem + 0.5vw);
    }
    .light-btn {
        font-size: calc(1.4rem + 0.5vw);
    }
    .click {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .content2 {
        order: 2;
        top: 12rem;
        width: 100%;
        margin-left: 0;
    }

    .content2 p {
        width: 90%;
    }
    .img2 {
        order: 1;
        margin-top: 7rem;
        width: calc(30rem + 15vw);
    }
}

@media screen and (max-width: 750px) {
    .main-page {
        height: 147rem;
    }
    .glass {
        height: 142rem;
        margin: 0 auto;
    }
    nav .icon-burger {
        display: block;
    }

    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        bottom: 100%;
        top: 100px;
        flex-direction: column;
        align-items:center;
        justify-content: space-evenly ;
        background-color: #1b1a20d2;
        width: auto;
        height: auto;
        overflow: hidden;
        border-radius: 1rem;
    }

    nav :checked ~ .menu .links {
        bottom: 1190px;
        width: 88%;
        margin: auto;
    }

    .light-btn {
        margin-right: 0;
        font-size: 2.2rem;
        letter-spacing: 2px;
        font-family: 'Oxygen-regular', sans-serif;
    }

    .links li {
        width: 100%;
        height: 5rem;
    }

    li a {
        margin: auto;
    }

    .light-btn:hover {
        border-bottom: 2px solid rgb(241, 119, 62);
        padding: 0.5rem 10rem;
    }

    .dark-btn {
        font-size: 2.2rem;
        padding: 0.65vw 0.5vw;
        background: transparent;
        border: none;
        border-radius: 10px;
        color: rgb(255, 255, 255);
        cursor: pointer;
        background: none;
        box-shadow: none;
        letter-spacing: 2px;
        margin-bottom: 0;
        font-weight: 100;
        font-family: 'Oxygen-regualr', sans-serif;
        width: 100%;
    }

    .dark-btn:hover {
        border-bottom: 2px solid rgb(241, 119, 62);
        padding: 0.5rem 10rem;
        border-radius: 0;
        background: none;
        bottom: 0;
    }
    nav .icon-burger img:hover {
        cursor: pointer;
    }
    nav :checked ~ .menu .icon-burger {
        transform: rotate(100deg);
    }
    nav .icon-burger img:hover {
        cursor: pointer;
    }
    nav :checked ~ .menu .icon-burger {
        transform: rotate(100deg);
    }
}

@media screen and (max-width: 616px) {
    .main-page {
        height: 147rem;
    }
    .glass {
        height: 138rem;
        margin: 0 auto;
    }
    nav .links {
        bottom: 100%;
        top: 100px;
    }
    nav :checked ~ .menu .links {
        bottom: 1150px;
        width: 88%;
        margin: auto;
    }
}

@media screen and (max-width: 465px) {
    .main-page {
        height: 137rem;
    }
    .glass {
        height: 133rem;
        margin: 0 auto;
        padding: 2rem 2rem 1rem;
    }
    p {
        width: 100%;
    }
    .content1 p {
        width: 100%;
    }
    .content2 p {
        width: 100%;
    }
    nav .links {
        bottom: 100%;
        top: 100px;
    }
    nav :checked ~ .menu .links {
        bottom: 1100px;
        width: 88%;
        margin: auto;
    }
}

@media screen and (max-width: 412px) {
    h1 {
        font-size: calc(3rem + 2vw);
    }

    .img1 {
        width: calc(29rem + 10vw);
    }

    .img2 {
        order: 1;
        margin-top: 7rem;
        width: calc(28rem + 15vw);
    }
    .glass {
        height: 130rem;
    }
    header .logo {
        font-size: calc(2.6rem + 2vw);
    }
    nav .links {
        bottom: 100%;
        top: 100px;
    }
    nav :checked ~ .menu .links {
        bottom: 1050px;
        width: 88%;
        margin: auto;
    }
}

@media screen and (max-width: 360px) {
    h1 {
        font-size: calc(2.8rem + 2vw);
    }
    header .logo {
        font-size: calc(2.4rem + 2vw);
    }
    .img1 {
        width: calc(25rem + 10vw);
    }

    .img2 {
        order: 1;
        margin-top: 7rem;
        width: calc(25rem + 15vw);
    }
}

@media screen and (max-width: 344px) {
    .glass {
        height: 132rem;
    }
}

@media screen and (max-width: 336px) {
    .glass {
        height: 135rem;
    }
    .main-page {
        height: 140rem;
    }
    .img2 {
        order: 1;
        margin-top: 7rem;
        width: calc(22rem + 15vw);
    }
}