* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


h1 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 900;
    color: white;
}

p {
    font-family: 'Oxygen', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 500;
    line-height: 30px;
}

header .logo {
    color: #eeeeee;
    text-decoration: none;
    font-size: 4rem;
    font-family: 'Oxygen', sans-serif;
}

header nav span {
    background: -webkit-radial-gradient(#e68938, #6d74c2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    background: #312f49;
    background: radial-gradient(ellipse at center, #4d4a72e3, #272730);
    background-position: center;
    background-attachment: fixed;
    height: 760px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    font-family: 'Oxygen', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.menu li {
    list-style: none;
    display: flex;
    align-items: center;
}

.main-btn {
    background: rgba(34, 40, 48, 0.726);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.582);
    font-family: 'Oxygen', sans-serif;
    padding: 1.3rem 2rem;
    color: #f6905f;
    border-radius: 30px;
    font-size: calc(1rem + 0.6vw);
    text-decoration: none;
    border: none;
    margin-top: 2rem;
}

.main-btn:hover {
    cursor: pointer;
    background: rgba(192, 106, 0, 0.089);
    position: relative;
    bottom: 0.3rem;
}

.dark-btn {
    background: rgba(34, 40, 48, 0.603);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.582);
    font-family: 'Oxygen', sans-serif;
    color: #f6905f;
    border-radius: 30px;
    font-size: calc(1rem + 0.53vw);
    text-decoration: none;
    border: none;
    padding: 1.2rem 2.5rem;
    margin-bottom: 1rem;
}


.dark-btn:hover {
    cursor: pointer;
    background: rgba(192, 106, 0, 0.075);
    position: relative;
    bottom: 0.3rem;
}

.light-btn {
    padding: 0.65vw 0.5vw;
    background: transparent;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: calc(1rem + 0.6vw);
    cursor: pointer;
    margin-right: 2rem;
    font-family: 'Oxygen', sans-serif;
}

.light-btn:hover {
    border-bottom: 2px solid rgb(241, 119, 62);
    border-radius: 0;
}


.glass {
    padding: 3rem 4rem;
    height: 700px;
    width: 88%;
    background: rgba(22, 29, 36, 0.527);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(71, 71, 71, 0.2);
    border-radius: 30px;
    position: absolute;
    top: 30px;
    margin-bottom: 25px;
}

nav {
    display: flex;
    align-items: center;
}

#nav-toggle {
    position: absolute;
    top: -150px;
}

nav .icon-burger {
    display: none;
}

nav .icon-burger img {
    width: 60px;
}


.hero1 h1 span {
    background: -webkit-radial-gradient(#e68938, #7e85d3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero1 h1 {
    margin-bottom: 0.1rem;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1 1 40rem;
}

.menu ul {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 40rem;
    align-items: center;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: calc(12rem + 35vw);
}

.hero1 {
    flex: 3 1 39rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
    margin-bottom: 2rem;
}

.hero1 h1 {
    font-size: calc(1rem + 3vw);
}


.hero1 p {
    padding: 1.7rem 0;
    font-size: calc(0.1rem + 1.2vw);
    margin: 1rem 0;
    font-weight: lighter;
    width: 93%;
}

.hero1 a {
    display: flex;
    text-decoration: none;
}


.hero2 {
    flex: 1 1 39rem;
}

.hero-img {
    height: calc(5rem + 30vw);
    margin-left: 2rem;
}

.hero .hero2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


@media screen and (max-width:1146px){
    body {
        height: calc(52rem + 40vw);
    }

    .hero1 {
        order: 2;
        text-align: center;
        align-items: center;
        position: relative;
        top: 6rem;
        margin-left: 0;
    }    

    .hero-img {
        margin: auto;
        height: calc(7rem + 35vw);
    }

    .glass {
        height: calc(45rem + 40vw);
    }

    .hero1 h1 {
        font-size: calc(1.5rem + 3vw);
    }

    .main-btn {
        font-size: calc(1rem + 1.3vw);
        padding: 1.8rem 2.5rem;
    }
    .dark-btn {
        font-size: calc(1rem + 1.2vw);
    }
    .light-btn {
        font-size: calc(1rem + 1.25vw);
    }

    .hero {
        position: relative;
        top: 2rem;
    }
}

@media screen and (max-width: 650px) {
    nav .icon-burger {
        display: block;
    }

    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        bottom: 100%;
        top: 100px;
        flex-direction: column;
        align-items:center;
        justify-content: space-evenly ;
        background-color: #1b1a20d2;
        width: auto;
        height: auto;
        overflow: hidden;
        border-radius: 1rem;
    }

    nav :checked ~ .menu .links {
        bottom: 410px;
        height: 155px;
        width: 90%;
        margin: 0 auto;
    }

    .light-btn {
        margin-right: 0;
        font-size: 2.2rem;
        letter-spacing: 2px;
        font-family: 'Oxygen-regular', sans-serif;
    }

    .links li {
        width: 100%;
        height: 5rem;
    }

    li a {
        margin: auto;
    }

    .light-btn:hover {
        border-bottom: 2px solid rgb(241, 119, 62);
        padding: 0.5rem 10rem;
    }

    .dark-btn {
        font-size: 2.2rem;
        padding: 0.65vw 0.5vw;
        background: transparent;
        border: none;
        border-radius: 10px;
        color: rgb(255, 255, 255);
        cursor: pointer;
        background: none;
        box-shadow: none;
        letter-spacing: 2px;
        margin-bottom: 0;
        font-weight: 100;
        font-family: 'Oxygen-regualr', sans-serif;
        width: 100%;
    }

    .dark-btn:hover {
        border-bottom: 2px solid rgb(241, 119, 62);
        padding: 0.5rem 10rem;
        border-radius: 0;
        background: none;
        bottom: 0;
    }
    nav .icon-burger img:hover {
        cursor: pointer;
    }
    nav :checked ~ .menu .icon-burger {
        transform: rotate(100deg);
    }

    .hero1 h1 {
        font-size: calc(2.8rem + 1.5vw);
    }

    .hero-img {
        position: relative;
        top: 2rem;
    }

    .hero {
        position: relative;
        top: 1rem;
    }
}


@media screen and (max-width: 530px) {
    .glass {
        height: 700px;
        width: 90%;
        padding: 3rem 2rem;
        height: 695px;
    }
}

@media screen and (max-width: 500px) {
    nav .logo {
        font-size: calc(2rem + 3vw);
    }

    nav .icon-burger img {
        width: 50px;
    }

    .hero1 h1 {
        font-size: calc(2.3rem + 3.3vw);
    }

    .main-btn {
        font-size: calc(1rem + 2vw);
    }
}

@media screen and (max-width: 380px) {
    nav .logo {
        font-size: calc(2rem + 2vw);
    }
}